*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #212121;
    color: white;
    min-height:100vh;
}

.header-image {
    width: 100%;
    max-height: 500px; /* limits height */
    height: auto;      /* preserves aspect ratio */
}

.container {
    width:100%;
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mb-3 {
    margin: 20px 0px;
    padding: 10px 10px 40px 10px;
    font-size: larger;
}

.weight_container {
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    padding: 20px 0px;
}
.progress-container {
    width:100%;
    height: 200px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
}

.progress-text {
    width:100%;
    height: auto;
    display:flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
}

.text {
    font-weight: bold;
    font-size: 25px;
    color:#fff;
}
.progress {
    width: 160px;
    height:160px;
    position: relative;
    background-color: #212121;

}

.outer {
    height: 160px;
    width:160px;
    border-radius: 50%;
    padding: 20px;
    background-color: #212121;
}

.inner {
    height: 120px;
    width:120px;
    border-radius: 50%;
    display: flex;
    background-color: #212121;
    align-items: center;
    justify-content: center;
}

.number {
    font-weight: bold;
    font-size: 25px;
    color:#fff;
}

.subtext {
    color: #CCCCCC;
}

circle.progress-circle {
    fill:none;
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    
}


svg {
    position:absolute;
    top:0;
    left:0;
    display: block;
}

.predicted-information {
    margin-top: 30px;
    padding: 20px;
    border: 2px solid #444;
    border-radius: 10px;
    background-color: #2c2c2c;
    color:ghostwhite
}

.Retrain {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}